<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar una cuenta nueva</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-item class="input-item" [class.focused]="focusedInput === 'name'">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input id="nameInput" name="name" required [(ngModel)]="name"
                 (ionFocus)="setFocus('name')" 
                 (ionBlur)="setFocus(null); checkFormComplete(formulario)">
      </ion-input>
    </ion-item>

    <ion-item class="input-item" [class.focused]="focusedInput === 'lastname'">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input id="lastnameInput" name="lastname" required [(ngModel)]="lastname"
                 (ionFocus)="setFocus('lastname')" 
                 (ionBlur)="setFocus(null); checkFormComplete(formulario)">
      </ion-input>
    </ion-item>

    <ion-item class="input-item" [class.focused]="focusedInput === 'email'">
      <ion-label position="floating">Correo</ion-label>
      <ion-input id="emailInput" name="email" type="email" required [(ngModel)]="email"
                 (ionFocus)="setFocus('email')" 
                 (ionBlur)="setFocus(null); checkFormComplete(formulario)">
      </ion-input>
    </ion-item>

    <ion-item class="input-item" [class.focused]="focusedInput === 'password'">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input id="passwordInput" name="password" type="password" required [(ngModel)]="password"
                 (ionFocus)="setFocus('password')" 
                 (ionBlur)="setFocus(null); checkFormComplete(formulario)">
      </ion-input>
    </ion-item>

    <ion-item class="input-item" [class.focused]="focusedInput === 'confirmPassword'">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input id="confirmPasswordInput" name="confirmPassword" type="password" required [(ngModel)]="confirmPassword"
                 (ionFocus)="setFocus('confirmPassword')" 
                 (ionBlur)="setFocus(null); checkFormComplete(formulario)">
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [ngClass]="{'btn-complete': isComplete, 'btn-incomplete': !isComplete}">
      Enviar
    </ion-button>
  </form>
</ion-content>
