<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let list of lists" (click)="selectList(list.id)">
      {{ list.name }}
    </ion-item>
  </ion-list>

  <div *ngIf="selectedListId">
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label>
          <h2>{{ item.text }}</h2>
          <p>{{ item.status }} - {{ item.tag }}</p>
        </ion-label>
        <ion-button (click)="updateItemStatus(item.id, 'completed')">Completar</ion-button>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-input [(ngModel)]="newItemText" placeholder="Nuevo item"></ion-input>
      <ion-select [(ngModel)]="newItemTag" placeholder="Tag">
        <ion-select-option value="casa">Casa</ion-select-option>
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
        <ion-select-option value="ocio">Ocio</ion-select-option>
        <ion-select-option value="miscelaneo">Miscelaneo</ion-select-option>
      </ion-select>
      <ion-button (click)="addItem()">Añadir</ion-button>
    </ion-item>
  </div>
</ion-content>
<!-- Your code goes here -->
