<!-- ion-header para el menu que queda arriba-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio de sesion</ion-title> 
  </ion-toolbar>
</ion-header>

<!-- Se debe implementar el inicio de sesion de usuarios ya creados-->
<ion-content>
  <div class="card-container">
<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="assets/img/logo.jpg"
            alt="Logo de la aplicacion"
            loading="lazy"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title> Bienvenido a lista de tareas compartidas </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button shape="round" color="primary"> Ingresar </ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
