<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
          <img src="assets/img/logo.jpg" alt="Logo de la aplicación" loading="lazy" />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title>Bienvenido a lista de tareas compartidas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-button shape="round" color="primary" (click)="onLogin()">Ingresar</ion-button>
            <ion-button [routerLink]="['/registro']" shape="round" color="secondary">Registrarse</ion-button>
            <ion-button [routerLink]="['/recuperarpassword']" shape="round" color="tertiary">Olvidé mi contraseña</ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
